    <header id="showcase">
      <h1>Welcome To Ort Ariel</h1>
      <p>Located in central Ariel and with 300 students, Ort Ariel prides itself as a hotbed for talented and gifted students,
        <br>
        taught by the best teachers in Israel in music, comupters, art and many more subjects
      </p>
      <div class="container">
          <nav>
            <a class="btn btn-info" routerLink="/Teachers">Teachers</a>
            <a class="btn btn-info" routerLink="/Students">Students</a>
            <a class="btn btn-info" routerLink="/Employees">Employees</a>
          </nav>
        </div>
        <router-outlet></router-outlet>
    </header>
    <section id="section-a">
      <p>Made by David Aksel, 2021, &copy; All rights reserved</p>
    </section>